* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 52, 1, 0.2);
  height: 70vh;
}
