.search-year {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: #333;
  
    &__select {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid;
      border-radius: 4px;
    }
  
    &--all {
      font-weight: bold;
    }
  }
  